NODE_ENV=development
PORT=5000

# MongoDB
MONGODB_URI=mongodb://localhost:27017/stockflow

# JWT
JWT_SECRET=stockflow_super_secret_key_2024
JWT_EXPIRE=7d

# Email
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
ADMIN_EMAIL=admin@email.com

# Frontend URL (for CORS)
FRONTEND_URL=http://localhost:5173
